{% extends "enroll/base.html" %}
{% load static %}

{% block content %}
    <div class="col-sm-10 ">
        <h3 class=" my-5">About Page</h3>
        <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, explicabo! Itaque dicta ut provident sed nisi fugiat, suscipit, nulla illo amet eos nostrum aperiam distinctio qui nihil atque optio vero?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum delectus assumenda reprehenderit unde eveniet ab, exercitationem necessitatibus aperiam a placeat tempora facilis voluptatibus dolores dicta natus reiciendis animi fugiat voluptatum? Ut error alias, rerum, odit dignissimos saepe veniam quod quaerat quasi hic expedita officia in maiores voluptatem tempora! Dolor, reprehenderit.</p>
    </div>
{% endblock content %}